@import './components/default.less';

:global {
    body {
        color: @font-color;
        font-size: @font-size;
        font-family: @font-family;
        background-color: @bg-color-body;
        padding: 0;
        margin: 0 auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        cursor: default;
    }

    a {
        cursor: default;
    }

    .row {
        display: flex;
        flex-flow: wrap;
    }

    .col {
        flex: 1;
    }

    .bg-primary {
        color: @light;
        background-color: @primary;
    }

    .bg-dark {
        color: @light;
        background-color: @dark;
    }

    .bg-normal {
        color: @dark;
        background-color: @normal2;
    }

    .bg-success {
        color: @light;
        background-color: @success;
    }

    .bg-warning {
        color: @light;
        background-color: @warning;
    }

    @media (max-width: 767px) {}

    @media (min-width: 768px) {}

    @media (min-width: 1024px) {}

    @media (min-width: 1200px) {
        body {
            max-width: 1200px;
        }
    }
}